<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{{ name }} -resume</title>
        <meta name="description" content="{{ name }} - {{ wirte_up }}">
        <meta property="og:title" content="{{ name }}">
        <meta property="og:type" content="website">
        <meta property="og:url" content="{{ base_url }}/resume.html">
        <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Monsterrat:ital,wght@0,100..900; rel=stylesheet">
    <link rel="stylesheet" href="css/modern_normalize.css"/>
    <link rel="stylesheet" href="css/html5bp.css"/>
    <link rel="stylesheet" href="css/main.css"/>
    <link rel="stylesheet" href="css/resume.css">
    <meta name="theme-color" content="#fafafa"> 
    
    <link rel="icon" href="/favicon.ico" sizes="any">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" sizes="180*180" href="/icon.png">

    <link rel="mainfest" href="/site.webmanifest">
</head>

<body>
    <header class="page-header">
        <div class="container">
            <div class="header-top flex-responsive">
                <div class="header-info">
                    <h1>{{ name }}</h1>
                    {% if contact.telephone or contact.address or contact.country %}
                    <address>
                        <ul class="inline-list flex-responsive">
                            {% if contact.email %}
                            <li>
                                <a href="mailto:{{ contact.email }}">{{ contact.email }}</a>
                            </li>
                            {% endif %}
                            {% if contact.telephone %}
                            <Li>
                                <a href="tel:+{{ contact.telephone | replace('-', '')}}">{{ contact.telephone }}</a>
                            </li>
                            {% endif %}
                            {% if contact.address %}<Li>{{ contact.address }}</Li>{% endif %}
                            {% if contact.country %}<li>{{ contact.country }}</li>{% endif %}
                        </ul>
                    </ul>
                </address>
                {% endif %}
                {% if write_up %}<p class="header-write_up">{{ write_up }}</p>{% endif %}
            </div>
        </div>
    </div>
</header>


<div class="page-content">
    <div class="container">
        <main>
            {% if work_experience %}
            <section>
                <h2 class="section-heading">work experience</h2>
                {% for j in work_experience %}
            </section>
            <h3>
                {% if job.url %}
                {{job.postion }} at <a href="{{ job.url }}">{{ job.company }}</a>
                {% else %}
                {{ job.postion }} at {{ job.company }}</a>
                {% endif %}
            </h3>
            {% if job.start_date and job.end_date %}
            <p class="section_tag">{{ job.start_date  }} - {{ job.end_date }}</p>
            {% endif %}
        </section>
        {% endfor %}
    </main>
</div>
</div>
    
</body>
</html>